<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My website</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <h1 data-position="header">Future travel log</h1>

    <section data-position="add-quote">
      <h2>Place you want to go</h2>

      <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="place" name="place" />
        <button type="submit">Submit</button>
      </form>
    </section>

    <section data-position="update-quote">
      <div>
        <h2>Don't know where to go?</h2>
        <p>
          I can add one for you
        </p>
        <button id="update-button">add one place</button>
      </div>
    </section>

    <section data-position="delete-quote">
      <div>
        <h2>Remove places!</h2>
        <p>
          Remove the place from the list for longest time
        </p>
        <button id="delete-button">Delete your place</button>
      </div>
      <div id="message"></div>
    </section>

    <section data-position="quotes">
      <h2>places on list</h2>

      <ul class="quotes">
        <% for(var i = 0; i < quotes.length; i++) {%>
        <li class="quote">
          <span><%= quotes[i].name %></span>:
          <span><%= quotes[i].place %></span>
        </li>
        <% } %>
      </ul>
    </section>

    <script src="/main.js"></script>
  </body>
</html>
